.stores {
    padding:1rem;
    margin: 1rem;
    color:salmon;
    display: inline-block;
 

}
h3,p {
    display: inline;
}
li{
    list-style: none;
}
body {
    background-image: url("/Users/narukc/codefellows/201/labs/cookie-stand/img/salmon.png");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;

   }
.nav{
    display: inline-block;
   margin: 2em;
   font-size: 3em;
}
table ,tr th  { background:salmon;
    padding: 1rem;
    margin:1rem;
}
td{
    padding: 1rem;

    
}

table, th, td {
    border: 1px solid black;
  }
h1{
    font-size: 3rem;
}